@media only screen and (min-width: 2010px) {
    .email {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        grid-row: 2;
        grid-column: 2;
    }
    .phone {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
       grid-row: 2;
       grid-column: 3;
    }
}
@media only screen and (min-width: 1750px) {
    .plate-container {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin: 0 auto;
    }
    .blocks-container {
        -ms-grid-rows: repeat(3, 274px);
        -ms-grid-columns: repeat(4, 270px);
            grid-template: repeat(3, 274px) / repeat(4, 270px);
    }
}
@media only screen and (max-width: 1440px) {
.banner-container {
padding-top: calc(30px + (110 - 30) * ((100vw - 425px) / (1440 - 425)));
    padding-bottom: calc(30px + (110 - 30) * ((100vw - 425px) / (1440 - 425)));
    padding-right: calc(39px + (119 - 59) * ((100vw - 425px) / (1440 - 425)));
    padding-left: calc(39px + (119 - 59) * ((100vw - 425px) / (1440 - 425)));
}
.banner {
    padding-right: calc(64px + (164 - 64) * ((100vw - 1024px) / (1440 - 1024)));
    padding-left: calc(103px + (243 - 103) * ((100vw - 1024px) / (1440 - 1024)));
}
.full-logo {
    font-size: calc(50px + (104 - 50) * ((100vw - 425px) / (1440 - 320)));
}
.full-subtitle {
    font-size: calc(30px + (73 - 30) * ((100vw - 425px) / (1440 - 320)));
}
.full {
    margin-bottom: calc(25px + (37 - 25) * ((100vw - 425px) / (1440 - 425)));
}
.read-more a {
    font-size: calc(30px + (38.5 - 30) * ((100vw - 1024px) / (1440 - 1024)));
    padding-top: calc(12px + (17 - 12) * ((100vw - 1024px) / (1440 - 1024)));
  padding-right: calc(20px + (25 - 20) * ((100vw - 1024px) / (1440 - 1024)));
  padding-bottom: calc(10px + (14 - 10) * ((100vw - 1024px) / (1440 - 1024)));
  padding-left: calc(18px + (23 - 18) * ((100vw - 1024px) / (1440 - 1024)));
}
}
@media only screen and (max-width: 1415px) {
    .plate3 {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        grid-row: 2;
        grid-column: 2;
    }
    .plate4 {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        grid-row: 3;
        grid-column: 1;
    }
}
@media only screen and (max-width: 1438px) {
    .form-input {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

}
@media only screen and (max-width: 1082px) {
    .spicy-wedges {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        grid-row: 2;
        grid-column: 1;
    }
    .plate2 {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
        grid-row: 2;
        grid-column: 2;
    }
    .red-curry {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
        grid-row: 3;
        grid-column: 2;
    }
    .spicy-mix {
        -ms-grid-row: 6;
        -ms-grid-column: 1;
        grid-row: 6;
        grid-column: 1;
    }
    .plate3 {
        -ms-grid-row: 4;
        -ms-grid-column: 2;
        grid-row: 4;
        grid-column: 2;
    }
    .plate5 {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        grid-row: 5;
        grid-column: 1;
    }
    .spicy-veggies {
        -ms-grid-row: 5;
        -ms-grid-column: 2;
        grid-row: 5;
        grid-column: 2;
    }
    .plate6 {
        -ms-grid-row: 6;
        -ms-grid-column: 2;
        grid-row: 6;
        grid-column: 2;
    }
}
@media only screen and (max-width: 1024px) {
    .footer-flex {
        display: block;
    }
    .footer-about {
        margin-right: 0;
        text-align: center;
        margin-bottom: 30px;
    }
    .about-title {
        margin-bottom: 30px;
    }
    .footer-flex-links {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}
@media only screen and (max-width: 865px) {
    .form-input {
        -ms-grid-rows: auto;
        grid-template-rows: auto;
    }
    .select-arrow {
        top: 65%;
    }
}
@media only screen and (max-width: 768px) {
    header {
        padding-top: calc(32px + (62 - 32) * ((100vw - 320px) / (768 - 320)));
    }
    .header-menu ul li a {
        line-height: 100px;
    }
    .flavours {
        display: block;
        text-align: center;
        padding-top: calc(30px + (70 - 30) * ((100vw - 320px) / (768 - 320)));
        padding-bottom: calc(25px + (65 - 25) * ((100vw - 320px) / (768 - 320)));
    }
    .flavours-title {
        margin-bottom: 17px;
        font-size: calc(18px + (29.2 - 18) * ((100vw - 320px) / (768 - 320)));
    }
    .flavours-text {
        font-size: calc(14px + (18.8 - 14) * ((100vw - 320px) / (768 - 320)));
    }
    .flavours-promo {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .news-container {
        display: block;
    }
    .new {
        margin-bottom: 25px;
    }
    .new-circle {
        margin-bottom: 10px;
    }
    .traditional-coisin-title {
        font-size: calc(18px + (29.2 - 18) * ((100vw - 320px) / (768 - 320)));
        margin-bottom: calc(13px + (33 - 13) * ((100vw - 320px) / (768 - 320)));
    }
    .traditional-coisin-text {
        font-size: calc(16px + (18.8 - 16) * ((100vw - 320px) / (768 - 320)));
        margin-bottom: calc(16px + (46 - 16) * ((100vw - 320px) / (768 - 320)));
    }
    .traditional-coisin-circle-container {
        margin-bottom: calc(16px + (47 - 16) * ((100vw - 320px) / (768 - 320)));
    }
    .traditional-coisin-menu ul li {
        margin-right: calc(21px + (51 - 21) * ((100vw - 320px) / (768 - 320)));
    }
    .new-title {
        margin-bottom: 0;
    }
    .new-menu-container {
        padding-bottom: 52px;
    }
    .new-menu-items-container {
        display: block;
        margin-right: -60px;
    }
    .new-menu-item-date {
        font-size: 14px;
    }
    .new-menu-item:nth-last-child(1) {
        margin-right: 34px;
    }
    .menu-banner {
        padding: 0;
    }
    .menu-logo {
        font-size: calc(65px + (77 - 65) * ((100vw - 425px) / (768 - 425)));
    }
    .menu-subtitle {
        font-size: calc(35px + (47.5 - 35) * ((100vw - 425px) / (768 - 425)));
    }
    .contacts-container {
        min-width: 80%;
    }
    .marks {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 760px) {
    .blocks-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .spicy-wedges {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .chicken-curry {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    .plate3 {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .red-curry {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }
    .plate4 {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
    .plate5 {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }
    .spicy-veggies {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }
    .plate6 {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }
    .spicy-mix {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }
}
@media only screen and (max-width: 749px) {
    .block-with-text {
        padding: 29px 12px;
    }
    .plate {
        padding-top: calc(38px + (88 - 38) * ((100vw - 425px) / (749 - 425)));
        padding-bottom: calc(39px + (89 - 39) * ((100vw - 425px) / (749 - 425)));
        padding-left: calc(31px + (81 - 31) * ((100vw - 425px) / (749 - 425)));
    }
    .plate-logo {
        font-size: calc(65px + (77 - 65) * ((100vw - 425px) / (749 - 425)));
    }
    .plate-title {
        margin-bottom: calc(35px + (53 - 35) * ((100vw - 425px) / (749 - 425)));
    }
    .plate-subtitle {
        font-size: calc(32px + (47.5 - 32) * ((100vw - 425px) / (749 - 425)));
    }
}
@media only screen and (max-width: 725px){
.menu-item-container {
    display: block;
}
.first-column {
    margin-right: 0;
}
.menu-item {
    margin-bottom: 35px;
}
.menu-item-img {
    padding-top: 3.5%;
    margin-right: 18px;
}
.menu-title {
    padding-top: 30px;
}
}
@media only screen and (max-width: 725px) {
    .footer-container {
        padding-top: 51px;
        padding-left: 22px;
        padding-right: 26px;
    }
.footer-flex-links {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 20px 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr / 1fr 1fr;
    grid-row-gap: 20px;
}
.footer-menu {
    margin-right: 0;
    text-align: center;
}
.footer-menu:nth-last-child(1) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-row: 2;
    grid-column: 1/3;
    -ms-grid-column-span: 2;
}
.footer-menu-title {
    margin-bottom: 18px;
}
}
@media only screen and (max-width: 425px) {
.menu-item-img {
    padding-top: 6.5%;
}
}
@media only screen and (max-width: 350px) {
.header-menu ul {
    right: -60%;
}
.icon {
    right: 0%;
    top: 20%;
}
}